In [2]:
#Some string built-in methods

s = 'Hi friends'

In [3]:
s.upper()

'HI FRIENDS'

In [5]:
s.lower()

'hi friends'

In [6]:
s.split() # it returns a list

['Hi', 'friends']

In [8]:
s.split('en') #split by a word / character

['Hi fri', 'ds']

In [9]:
#print format method
s = 'This is {} and my age is {}'
s.format('naresh','20')

'This is naresh and my age is 20'

In [11]:
s.count('a')

2

In [12]:
s.find('i')

2

In [20]:
s = 'hai naresh how are you'
s.center(100,'z') # centers a string remaining charactes will be filled characters

'zzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzhai naresh how are youzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz'

In [28]:
#IS functions
#Check is alphanumeric
s = 'naresh1'
s.isalnum()

True

In [27]:
s = 'hainaresh'
s.isalpha()

True

In [39]:
s= 'Nares1' #first letter must be upper case,remaining all lower
s.istitle()

True

In [40]:
s.isupper()

False

In [42]:
s = 'Naresh'
s.islower()

False

In [43]:
s.endswith('h')

True

In [44]:
#split
s.split('e')

['Nar', 'sh']

In [45]:
#partition - returns tuple with first occurnce 
s.partition('e')

('Nar', 'e', 'sh')

In [46]:
s='hi naresh eat eggs'
s.partition('e')

('hi nar', 'e', 'sh eat eggs')