# Python Variables

In [1]:
x = 1
type(x)

int

In [2]:
x = 1.1
type(x)

float

In [3]:
x = True
type(x)

bool

In [4]:
#String can be written inside of the quotes - '',"" or ''' '''
x = "Hello Naresh"
type(x)

str

In [5]:
#Complex numbers x+yj
y = 4+3j
type(y)

complex

In [6]:
print(y)

(4+3j)

In [7]:
print(y.real)

4.0

In [8]:
print(y.imag)

3.0

In [9]:
y.conjugate()

(4-3j)

In [ ]:
#Varibales

In [11]:
ten ='10'
ten

'10'

In [13]:
ten ='ten'
ten

'ten'

In [14]:
#Dynamic re-assignment
ten = 10
ten

10

In [16]:
#Error to concatination 
ten = 10
s = 'nare'+ten

TypeError: can only concatenate str (not "int") to str

In [18]:
ten = '10'
s = 'nare'+ten
s

'nare10'